.u-markdown{
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: $color-grey;
    }
  }
  
  h3 {
    @include inuit-font-size($inuit-font-size-h3, $important: false);
    margin-bottom: $spacing-unit*2;
  }
}