.c-link {
  text-decoration: underline;
}

.c-link--primary {
  text-decoration: none;
  border: 1px solid $color-grey;
  padding: $spacing-unit;
  
  &:hover {
    color: $color-grey;
    border-color: $color-black;
  }
}

.c-link--box {
  text-decoration: none;


  &:hover .c-link__underline {
    text-decoration: underline;
  }
}

